#map1 {
     border: 1px solid black;
}

.bartext {
	text-anchor: middle;
}

.gridline {
	stroke: gray;
	stroke-width: 1px;
	opacity: 25;
}

.timelineyear {
	text-anchor: middle;
	font-weight: bold;
}

.sliderTrack {
  stroke: black;
  stroke-width: 5px;
}

.sliderLabel {
	text-anchor: middle;
}

.staticLabel {
  text-anchor: middle;
  font-size: 12px;
  stroke: gray;
}

#year_input {
  margin: 10px;
}

.inactive {
  fill-opacity: 0;
}

.inactive.arrowLegend {
  stroke-opacity: 0;
}

.freeze * {
	pointer-events: none;
}

#about {
  margin-top: 8px;
  margin-left: 20px;
}

#demobutton {
  margin-top: 5px;
  margin-left: 20px;
}


div#titlediv {
	position: absolute;
    top: 0;
    left: 0px;
    width: 576px;
	height: 75px;
	text-align: center;
    border: 1px solid #000000;
}

div#sliderdiv {
	position: absolute;
    top: 0px;
    left: 577px;
    width: 1259px;
	height: 75px;
    border: 1px solid black;
}

div#sliderdiv svg {
	position: absolute;
	top: 22px;
	left: 64px;
}

#map1 {
	position: absolute;
    top: 76px;
    left: 0px;
    width: 1215px;
	height: 650px;
    border: 1px solid black;
}

div#controlpanel {
	position: absolute;
    top: 76px;
	left: 1216px;
	width: 620px;
	height: 50px;
	line-height: 50px;
    border: 1px solid black;
	text-align: center;
    display: inline-block;
    vertical-align: middle;
}

div#barchart {
	position: absolute;
    top: 127px;
	left: 1216px;
	width: 620px;
	height: 350px;
    border: 1px solid black;
	text-align: center;
}
#continentsvg {
	position: absolute;
	top: 30px;
	left: 15px;
	height: 50px
	width: 600px;
}

.continentLabelRect{
	fill: white;
	fill-opacity: 0;
	stroke: black;
	stroke:width: 3px;
}

.continentLabel{
	text-anchor: middle;
	alignment-baseline: middle;
}

#barchartsvg {
	position: absolute;
	top: 80px;
	left: 65px;
}


div#infochart {
	position: absolute;
    top: 478px;
	left: 1216px;
	width: 620px;
	height: 248px;
    border: 1px solid black;
	text-align: center;
}

#infotable {
  position: absolute;
	border: 1px solid black;
	width: 600px;
  left: 10px;
  top: 5px;
}

#infotable td {
	border: 1px solid black;
	width: 75px;
}

#TableHeadersRow {
	font-weight: bold;
	background-color: #DDDDDD;
}

div#timeline {
	position: absolute;
    top: 727px;
	left: 0px;
	width 1920px;
	height: 200px;
    border: 1px solid black;
	text-align: center;
}

div#timeline svg{
	position: absolute;
	left: 10px;
}

rect.country0 {
	fill: rgb(100,100,100);
}
path.country0 {
	stroke: rgb(100,100,100);
}

rect.country3 {
	fill: green;
}
path.country3 {
	stroke: green;
}

rect.country4 {
	fill: red;
}
path.country4 {
	stroke: red;
}

rect.country2 {
	fill: blue;
}
path.country2 {
	stroke: blue;
}

rect.country1 {
	fill: purple;
}
path.country1 {
	stroke: purple;
}

rect.country5 {
	fill: orange;
}
path.country5 {
	stroke: orange;
}

#barchartsvg rect, #barchartsvg path {
	stroke-width: 1px;
}

#barchartsvg .selected, #timeline .selected {
	stroke-width: 3px;
}

#map1 .selected{
	stroke-width: 2px;
	stroke: cyan;
}

text.selected{
	font-weight: bold;
}

td.selected {
	font-weight: bold;
	background-color: #AAAAAA;
}

#map1 .included {
	stroke: yellow;
	stroke-width: 2px;
}

#continentsvg .selected {
	fill: cyan;
	fill-opacity: 0.5;
}
#continentsvg .included {
	fill: yellow;
	fill-opacity: 0.5;
}
