#map1 {
     border: 1px solid black;
}

.sliderTrack {
  stroke: black;
  stroke-width: 5px;
}

.sliderLabel {
	text-anchor: middle;
}

.staticLabel {
	text-anchor: middle;
  font-size: 12px;
  stroke: gray;
}

#year_input {
  margin: 10px;
}

.inactive {
  opacity: 0;
}

.freeze * {
	pointer-events: none;
}
